#box1{
            background: blueviolet;
            border: cornsilk 2px solid;
            width: 500px;
            padding: 120px;
            margin: 20px;

            padding: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            /* shorthand */
            padding: 10px 20px 10px 20px;
            /* shorthand top/bottom right/left */
            padding: 10px 20px; 

            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 10px;
            margin-left: 20px;
            /* shorthand */
            margin: 10px 20px 10px 20px;
            /* shorthand top/bottom right/left */
            margin: 10px 20px;
                border-radius: 20px;
   
}

#box2{
   background-color: teal;
   color: yellowgreen;
   border-top: red 2px solid;
   background: blueviolet;
   border: cornsilk 2px solid;
   width: 500px;
   padding: 120px;
   margin: 20px;

   padding: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-left: 20px;
   /* shorthand */
   padding: 10px 20px 10px 20px;
   /* shorthand top/bottom right/left */
   padding: 10px 20px; 

   margin-top: 10px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
   /* shorthand */
   margin: 10px 20px 10px 20px;
   /* shorthand top/bottom right/left */
   margin: 10px 20px;
   border-top-right-radius: 20px;

}
body{
    background: url(https://source.unsplash.com/1600x900/?transparent,leaf) no-repeat center center;
    background-attachment: fixed;
}
.sub{
    background-color: teal;
    color: yellowgreen;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
}
#anch{
    color: yellowgreen;
}